CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# User's project preferences
*.user*

# Build dir
build-*

# Binaries
bin/*

# VS
.vs
/src/debug
/src/release
/src/candle.vcxproj.filters
/src/Candle_resource.aps
/src/Candle_resource.rc
/src/ui_*

*.o
src/*.o
Makefile

cmake-build-debug/
/src/Candle
/src/.qmake.stash
/src/moc_colorpicker.cpp
/src/moc_combobox.cpp
/src/moc_frmabout.cpp
/src/moc_frmmain.cpp
/src/moc_frmsettings.cpp
/src/moc_gcodedrawer.cpp
/src/moc_gcodeparser.cpp
/src/moc_gcodepreprocessorutils.cpp
/src/moc_gcodetablemodel.cpp
/src/moc_gcodeviewparse.cpp
/src/moc_glwidget.cpp
/src/moc_groupbox.cpp
/src/moc_heightmaptablemodel.cpp
/src/moc_predefs.h
/src/moc_scrollarea.cpp
/src/moc_slider.cpp
/src/moc_sliderbox.cpp
/src/moc_widget.cpp
/src/qrc_images.cpp
/src/qrc_shaders.cpp
